<div class="row">
  <div class="col-md-12">
    <nb-card>
    <nb-card-header>
        <div class="flex-centered col-xl-6 col-lg-6 col-md-8 col-sm-12">
            <h2 class="title">PAGINA DE ANÁLISE</h2>
          </div>
    </nb-card-header>
      <nb-card-body>
        
        <div class="row">
        <div class="col-xl-6 col-sm-6">
          <h4 class="title"> Dados Pessoais</h4>
          <div>
            <p><b>Nome completo: </b> Joao Kiakumbo Sebastiao</p>
            <p><b> Sexo: </b> Masculino</p> 
            <p><b> Naturalidade: </b> Damba</p>
          </div>
          <h4 class="title"> Dados de Formação</h4>
          <div>
            <p><b>Curso: </b> PWr</p> 
            <p><b>Área: </b> PWr</p> 
            <p><b>Universidade: </b> PWr</p> 
            <p><b>Data de início: </b> 01-10-2014</p> 
            <p><b>Data de conclusão: </b> 02-07-2019</p> 
            <p><b>País: </b> Polónia</p> 
            <p><b>Continente: </b>Europa</p> 
            <p><b>Custiador: </b>INAGBE</p> 
            
          </div>
          <h4 class="title"> Contactos</h4>
          <div>
            <p><b>E-mail: </b> exemplo@email.com</p> 
            <p><b>Telefone: </b> PWr</p> 
          </div>
          <h4 class="title"> Documentos Anexados</h4>
          <div>
            <p>1. Doc 1</p> 
            <p>2. Doc 2</p> 
          </div>
        </div>
        <div class="col-xl-6 col-sm-6">
          <h4>Anexo Selecionado</h4>

        </div>
      </div>
      </nb-card-body>
      <nb-card-footer>
          <div class="buttons-row">
            <button nbButton [status]="statuses[4]">Recusar</button>
            <button nbButton [status]="statuses[1]">Aceitar</button>
          </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
